@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 52px;
    font-family: "Unbounded";
    font-weight: bold;
}
a {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
}